<h1>Search Contacts</h1>

<% form_tag "", :method => :get do -%>
  <p>
    <%= hidden_field_tag :lat %>
    <%= hidden_field_tag :lon %>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :state_id,
      options_from_collection_for_select(@states, "id", "name", params[:state_id].to_i) %>
    <%= submit_tag "Search" %>
  </p>
  
  <div id="map" style="width: 500px; height: 350px"></div>
<% end -%>

<% unless @contacts.empty? %>
  <table>
    <tr>
      <th>Distance</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Postal code</th>
    </tr>

  <% @contacts.each_with_geodist do |contact, distance| %>
    <tr>
      <td><%= number_with_delimiter number_with_precision(distance, 0) %></td>
      <td><%= h contact.first_name %></td>
      <td><%= h contact.last_name %></td>
      <td><%= h contact.street_address %></td>
      <td><%= h contact.city %></td>
      <td><%= h contact.state.name %></td>
      <td><%= h contact.country %></td>
      <td><%= h contact.postal_code %></td>
      <td><%= link_to 'Show', contact %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= will_paginate @contacts %>
<% end %>
<br />

<%= link_to 'New contact', new_contact_path %>
