<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Contacts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAApSmSzIfF_WXdOlKbSWBdCxTJQa0g3IQ9GZqIMmInSLzwtGDKaBRdAAoedETnuovnNshSd2kzpBU0aw" type="text/javascript"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
